<%= form_for @comment do |f| %>

  <%= f.label :content %><br>
  <div class="emoji-picker-container comment_box">  
    <%= f.text_area :content, class: 'form-control', data: { emojiable: true } %>
  </div>
  
  <%= f.hidden_field :user_id, :value => session[:user_id] %>
  <%= f.hidden_field :task_id, :value => @task.id %>

  <%= f.submit class:"btn deep-purple darken-4"%>

<% end %>