<div class="container">
  <h4> Project: <%= @task.project.name.capitalize %>  </h4> 
  <h4> Title: <%= @task.title.capitalize %> </h4> 
  <h4> Status: <%= @task.status.status %>  </h4> 
  <h4> Comments  </h4> 

  <ul>
    <% @task.comments.each do |comment| %>
      <li class="task_border">
        <%= comment.content %> <br>
        <strong> <%= comment.user.name.capitalize %> (<%= comment.created_at.strftime("%m/%d/%Y at %I:%M%p") %>) </strong>
      </li>
    <%end%>
  </ul>
  <%= render 'comment' %>
</div>
