<div class="container"> <br>
  <ul class="collection with-header">
    <li class="collection-header center"><h4>Profile</h4></li>
    <li class="collection-item">Name: <%= @user.name.titleize %></li>
    <li class="collection-item">Email: <%= @user.email %></li>
    <li class="collection-item">Member Since: <%= @user.created_at.strftime("%m/%d/%Y") %></li>
  </ul>       
  <br>
  <h5> Projects & Tasks </h5>
  <div class="row">
    <% @projects.uniq.each do |project| %>
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <%= link_to project.name.titleize, project %>
              <div class="card-action">
              <% project.tasks.each do |task| %>
                <% if task.user_id == session[:user_id] %>
                  <%= link_to "#{task.title.titleize} (#{task.status.status})", task %> <br>
                <% end%>
              <% end %>
              </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
      
    










</div>