<ul class="container">
  <h1>welcome <%= @user.name %></h1>
  <h3> Project Index </h3>
  <% @projects.each do |project| %>
    <li>
      <div class="card blue lighten-2">
        <div class="card-content white-text">
          <span class="card-title"> <%= project.name.capitalize %> | <%= project.description %> </span>
          <div class="card-action">
            <a href="/projects/<%=project.id%>"><i class="material-icons">visibility</i></a>
            <a href="/projects/<%=project.id%>/edit"><i class="material-icons">edit</i></a>
            <a href="/projects/<%=project.id%>" data-method="delete" ><i class="material-icons">delete</i></a>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
