<ul class="container">
  
  <%# Changes welcome message depending on whether or not user has projects %>
  <% if @user.projects.length > 0 %>
    <h4 class="custom_header">Welcome <%= @user.name.capitalize %>! Here's your projects: </h4> <br>
  <% else %>
    <h4 class="custom_header">Welcome <%= @user.name.capitalize %>! Click 'New Project' to get started! </h4> <br>
  <% end %>
  
  <%# Displays user's projects %>
  <% @projects.each do |project| %>
    <li>
      <div class="card blue lighten-2">
        <div class="card-content white-text">
          <span class="card-title"> <%= project.name.titleize %> | <%= project.description %> </span>
          <div class="card-action">
            <a href="/projects/<%=project.id%>"><i class="material-icons">visibility</i></a>
            <a href="/projects/<%=project.id%>/edit"><i class="material-icons">edit</i></a>
            <a href="/projects/<%=project.id%>" data-method="delete" ><i class="material-icons">delete</i></a>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
