<div class="container">
  <h1><%= @project.name.capitalize %></h1>
  <h3><%= @project.description %></h3>
  <h6>Add a New Task</h6>
  <%= render '/tasks/form' %>
  <div class="row">
    <div class="col s4"> 
      <ul class="test">
      <h3>To Do</h3> 
        <% @project.to_dos.each do |task| %>
          <li class="card blue lighten-2">
            <div class="card-content white-text">
              <span class="card-title"> <%= task.title.capitalize %> </span>
              <div class="card-action">
                <a href="/tasks/<%=task.id%>"><i class="material-icons">visibility</i></a>
                <a href="/tasks/<%=task.id%>/edit"><i class="material-icons">edit</i></a>
                <a href="/tasks/<%=task.id%>" data-method="delete" ><i class="material-icons">delete</i></a>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col s4"> 
      <ul class="test">
        <h3>Doing</h3>
        <% @project.doings.each do |task| %>
          <li class="card blue lighten-2">
            <div class="card-content white-text">
              <span class="card-title"> <%= task.title.capitalize %> </span>
              <div class="card-action">
                <a href="/tasks/<%=task.id%>"><i class="material-icons">visibility</i></a>
                <a href="/tasks/<%=task.id%>/edit"><i class="material-icons">edit</i></a>
                <a href="/tasks/<%=task.id%>" data-method="delete" ><i class="material-icons">delete</i></a>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col s4">
      <ul class="test"> 
        <h3>Done</h3> 
        <% @project.dones.each do |task| %>
          <li class="card blue lighten-2">
            <div class="card-content white-text">
              <span class="card-title"> <%= task.title.capitalize %> </span>
              <div class="card-action">
                <a href="/tasks/<%=task.id%>"><i class="material-icons">visibility</i></a>
                <a href="/tasks/<%=task.id%>/edit"><i class="material-icons">edit</i></a>
                <a href="/tasks/<%=task.id%>" data-method="delete" ><i class="material-icons">delete</i></a>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>