<div class="container">
  <h5> Project Name: <%= @project.name.titleize %></h5>
  <h5> Project Description: <%= @project.description %></h5> <br>

  <%# Render the new task form %>
  <h5>Add a New Task</h5>
  <%= render '/tasks/form' %> <br>

  <%# To Do List %>
  <div class="row"> <!-- Start Materialize Row -->
    <div class="col s4"> <!-- Materialize Grid (row total = 12) -->
      <h3>To Do</h3> 

      <%# React Sortable for to do list%>
      <table>
        <tbody class="sortable">  <!-- sortable target -->
          <% @project.to_dos.each_with_sortable_id do |task, sortable_id| %>
            <tr id="<%= sortable_id %>">  <!-- Needs id tag on sorting elements -->
              <td>
                <div class="card blue lighten-2">
                  <div class="card-content white-text">
                    <span class="card-title"> <%= task.title.titleize %> </span>
                    <div class="card-action">
                      <a href="/tasks/<%=task.id%>"><i class="material-icons">visibility</i></a>
                      <a href="/tasks/<%=task.id%>/edit"><i class="material-icons">edit</i></a>
                      <a href="/tasks/<%=task.id%>" data-method="delete" ><i class="material-icons">delete</i></a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>


    <div class="col s4"> <!-- Materialize Grid (row total = 12) -->
      <h3>Doing</h3>
      
      <%# React Sortable for doing list%>
      <table>
        <tbody class="sortable">  <!-- sortable target -->
          <% @project.doings.each_with_sortable_id do |task, sortable_id| %>
            <tr id="<%= sortable_id %>">  <!-- Needs id tag on sorting elements -->
              <td>
                <div class="card blue lighten-2">
                  <div class="card-content white-text">
                    <span class="card-title"> <%= task.title.titleize %> </span>
                    <div class="card-action">
                      <a href="/tasks/<%=task.id%>"><i class="material-icons">visibility</i></a>
                      <a href="/tasks/<%=task.id%>/edit"><i class="material-icons">edit</i></a>
                      <a href="/tasks/<%=task.id%>" data-method="delete" ><i class="material-icons">delete</i></a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>


    <div class="col s4"> <!-- Materialize Grid (row total = 12) -->
      <h3>Done</h3> 

      <%# React Sortable %>
      <table>
        <tbody class="sortable">  <!-- sortable target -->
          <% @project.dones.each_with_sortable_id do |task, sortable_id| %>
            <tr id="<%= sortable_id %>">  <!-- Needs id tag on sorting elements -->
              <td>
                <div class="card blue lighten-2">
                  <div class="card-content white-text">
                    <span class="card-title"> <%= task.title.titleize %> </span>
                    <div class="card-action">
                      <a href="/tasks/<%=task.id%>"><i class="material-icons">visibility</i></a>
                      <a href="/tasks/<%=task.id%>/edit"><i class="material-icons">edit</i></a>
                      <a href="/tasks/<%=task.id%>" data-method="delete" ><i class="material-icons">delete</i></a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div> <!-- End Materialize Row -->
</div> <!-- End of Container Div -->