<!DOCTYPE html>
<html>
  <head>
    <title>Trello 2.0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%# Google Font%>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Poiret+One|Song+Myung" rel="stylesheet">

    <%# Favicon %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>

    <%# Nav Bar %>
    <div class="navbar-fixed">
      <nav class="blue accent-2">
        <div class="nav-wrapper container">
          <a href="/projects" class="brand-logo black-text logo">Trello 2.0</a>
          <ul class="right hide-on-med-and-down">
            <% if logged_in? %>
              <li><a href="/projects/new" class="black-text custom_header">New Project</a></li>
              <li><a href="/users/<%= session[:user_id] %>" class="black-text custom_header">Profile</a></li>
              <li><a href="/logout" class="black-text custom_header" data-method="delete">Log Out (<%=User.find(session[:user_id]).name.capitalize %>)</a></li>
            <% else %>
              <li><a href="/login" class="black-text custom_header">Login</a></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
    

  </head>

  <body class="custom_background">
    <%= yield %>
  </body>

  <footer class="page-footer blue accent-2 custom_footer">
    <div class="container">
      © 2018 Copyright | David Tenenbaum & Jordan Eckowitz
    </div>
  </div>
</footer>
</html>
