<!DOCTYPE html>
<html>
  <head>
    <title>Trello Clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%# Google Font%>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">


    <%# Nav Bar %>
    <div class="navbar-fixed">
      <nav class="blue accent-2">
        <div class="nav-wrapper container">
          <a href="/projects" class="brand-logo black-text logo">Trello 2.0</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/projects/new" class="black-text logo">New Project</a></li>
            <% if logged_in? %>
             <li><a href="/logout" class="black-text logo" data-method="delete">Log Out</a></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
    

  </head>

  <body>
    <%= yield %>
  </body>

  <footer class="page-footer blue accent-2 custom_footer">
    <div class="container">
      © 2018 Copyright | David Tenenbaum & Jordan Eckowitz
    </div>
  </div>
</footer>
</html>
